*{
    box-sizing: border-box;
}

.img{
    float: left;
}

h2{
    text-transform: uppercase;
    text-shadow: 0 0 15px #7fa7c1eb;
    
}

table, th, td {
    border:2px solid black;
    padding: 12px 15px;
}


