*{
    box-sizing: border-box;
}
  
body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: #f0efd7;
    color: #333;
    margin: 0;
}

.main{
    display: flex;
    flex-wrap: wrap;
}

.focus{
    flex: 80%;
    padding: 20px;
}

.contact-info{
    flex: 20%;
    padding: 20px;
    background-color: #7fa7c1eb;
}

.img{
    margin: 5px;
    border:1px solid #333;
    border-radius: 8px;
}

ul{
    list-style:circle;
    padding: 0;
    list-style-position: inside;
}

li{
    margin-block: 5px;
}


a:link, a:visited {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
  }
  
a:hover, a:active {
    background-color: green;
    color: white;
}

footer {
    padding: 5px;
    text-align: center;
    background-color: #333;
    color: white;
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
    .row, .navbar {   
      flex-direction: column;
    }
}
