header {
    background-color: #f0efd7;
    text-align:left;
    display: flex;
    align-items: center;
    padding-left: 15px;
}

.navigation {
    display: flex;
    background-color: #333;
}
  
.navigation a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
}
  
.navigation a:hover {
    background-color: #ddd;
    color: black;
}