.skillset{
    min-height: 500px;
    display: flex;
    flex-wrap:wrap;
    padding: 10px;
}

@keyframes appear {
    from{
        opacity: 0;
        transform: translateX(-100px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.container{
    padding: 25px;
    border:2px solid black;
    border-radius: 5px;
    margin-right: 25px;
    margin-top: 20px;
    height: 400px;
    background-color: #7fa7c1eb;
    color: #333;
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;

}

h4{
    color: black;
    text-transform:uppercase;
    text-shadow: 0 0 30px black;
    font-style: italic
}


